.blog {
    padding:1rem;
    display: flex;
    flex-direction: column;

}

.blog h1 {
    color: #6F210C;
}
.blogEntry {
    background-color: lightgray;
    padding: 1rem 1rem;
    margin-top:0rem;
}

.blogEntry h3, h4 {
    color: #542217;
}