.homeColumn h2 {
  color: #6f210c;
}

.homeColumn {
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  width: 100%;
}

.homeRow {
  width: 95%;
  padding: 1rem 1rem;
  margin: 1rem 0.5rem;
}

.homeRow img {
    padding: 1rem 1rem;
    width: 100%;
    border-radius: 0.5rem;
}

@media only screen and (min-width: 70rem) {
    .homeColumn {
        flex-direction: row;
        justify-content: space-between;
    }

    .homeRow {
        width: 50%;
    }
}
