/*  You can only use the "slash star ... star slash" style comment inside a style sheet */

html,
body {
    /* Prevents tiny white border inside browser window. */
    margin: 0rem;
    padding: 0rem;
}

body {
    background-color: #E3E0DC;
    /* red, green, blue (255 is max)
                                                         this is the turqoise color */
    color: black;
    /* color of font */
    font-family: sans-serif;
    /* "no tail" font is more readable for small font */
}



#titleNav {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0rem;
    left: 0rem;
    z-index: 1;
    /* To make sure titleNav is on top of content, 
                                   give it a higher z-index than content 
                                   (which has the default value, zero). */
    width: 100%;
    /* fixed elements are not 100% by default like other divs would be */

    font-family: serif;
    letter-spacing: 0.1rem;
    /* spaces out letters a bit */
    color: white;
    /* font color */
    background-color: #6F210C;
    padding: 0.5rem;
}

#title {
    font-size: 3rem;
    white-space: nowrap;
}

#nav {
    text-align: right;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;
}

#nav a {
    /* this selector applies to links within #nav */
    text-decoration: none;
    /* Do not want links in "nav" to be underlined */
    color: #E3E0DC;
    /* light gray: to specify color for links, you have to style the "a" tag */
}

#content {

    padding: 1rem;
    padding-top: 6rem;
    padding-bottom: 2rem;
    margin-top: 7rem;
    width: 95%;
}



#content h2 {
    color: #6F210C;
}

#content h3, h4 {
    color: #542217;
}

#content a {
    color: #6F210C;
}

#content a:visited {
    color: black;
}



#footer {
    position: fixed;
    bottom: 0rem;
    left: 0rem;
    z-index: 1;

    background-color: #6F210C;
    color: white;
    width: 100%;
    /* fixed elements are not 100% by default like other divs would be */
    text-align: center;
    padding: 0.5rem;
}

/* for desktop */
@media only screen and (min-width: 45rem) {
    #content {
        margin-top: 4.5rem;
    }

    #titleNav {
        flex-direction: row;
        justify-content: space-between;
    }

}